body {
	margin: 0;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: #242424;
	color: rgba(255, 255, 255, 0.87);
}

h1 {
	font-size: 2.5rem;
	color: white;
}

.container {
	max-width: 100%;
	padding: 1rem;
	overflow-y: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.col {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.card {
	flex: 1 1 auto;
	height: 100%;
}
