.game-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.game-img-card {
	width: 100%;
}

.game-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.game-detail-description {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.game-detail-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0px;
}

.game-detail-price {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 992px) {
	.game-container {
		flex-direction: row;
		gap: 30px;
		align-items: flex-start;
	}

	.game-img-card {
		width: 50%;
	}

	.game-info {
		width: 50%;
	}
}
