.bcg-image {
	background-image: url('../assets/store-background.jpg');
	position: fixed; /* Tło jest stałe i nie przewija się z zawartością */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: repeat;
	z-index: -1;
}

.content-container {
	position: relative;
	z-index: 1;
	padding-top: 2rem;
}
